.header .left-block.tower-logo {
    min-width: 265px;
}

.header .right-block .seqera-logo {
    width: 200px;
}

.docs-content {
    max-width: 850px;
}

.footer {
    padding: 0 !important;
}

.pretty-screenshot {
    margin-left: 0 !important;
}

/*
    Prevent other elements from overlaping by data-hlink.
    Fixes the case when hyperlinks in shortcode blocks cannot be clicked.
*/
[data-hlink]::before {
    display: none;
}