.header .right-block .seqera-logo {
    width: 200px;
}

.docs-content {
    max-width: 850px;
}

.footer {
    padding: 0 !important;
}

.pretty-screenshot {
    margin-left: 0 !important;
}

@media screen and (min-width: 200px) {
    .header .left-block.tower-logo {
        min-width: 190px;
    }

    .header .right-block .seqera-logo {
        display: none;
    }
}

@media screen and (min-width: 859px) {
    .header .right-block .seqera-logo {
        display: block;
    }

    .header.docs .mini-nav--toggle {
        display: none;
    }
}

@media screen and (min-width: 360px) {
    .header .left-block.tower-logo {
        min-width: 265px;
    }
}

